**
node_modules/**

# Dependencies
!node_modules/@vuedx/typescript-plugin-vue/dist/**
!node_modules/@vuedx/typescript-plugin-vue/package.json

# Project Files
!dist/**
!scripts/**
!languages/*.json
!syntaxes/*.json

!LICENSE
!logo.png
!readme.md
!package.json
