**
node_modules/**

# Dependencies
!node_modules/@vuedx/typescript-plugin-vue/dist/*
!node_modules/@vuedx/typescript-plugin-vue/package.json

# Project Files
!dist
!logo.png
!readme.md
!LICENSE
!package.json