name: Insiders

on:
  schedule:
    - cron: '0 3 * * 1'
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  default:
    name: Insiders
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2-beta
        with:
          node-version: '14.14.0'

      - name: Setup PNPM
        uses: pnpm/action-setup@v1.2.1
        with:
          version: 5.5.4
          run_install: |
            - args: [--frozen-lockfile, --silent]

      - name: Build Packages
        run: |
          node scripts/build.js
          pnpm recursive --filter @vuedx/typescript-standalone run build

      - name: Publish Insiders Extension
        run: |
          pnpm recursive --filter ./extensions run release
        env:
          RELEASE_CHANNEL: insiders
          VSCODE_MARKETPLACE_TOKEN: ${{ secrets.VSCODE_MARKETPLACE_TOKEN }}

      - name: Publish Insiders Packages
        run: |
          pnpm recursive --filter ./packages exec -- npm version prerelease --preid=insiders-$(date +%s)
          pnpm recursive --filter ./packages publish --tag insiders --access public --no-git-checks
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
